.lpt {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    border-radius: 0;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.lpt .formatLeft {
    text-align: left;
}

.lpt .central {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.lpt .central > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.lpt .central > div > div {
    display: inline-block;
}

.lpt table {
    border-collapse: collapse;
    width: 100%;
}

.lpt > .tableContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease;
}

.lpt tr:hover td {
    box-shadow: inset 0 0 30px #FFF7D7;
}

.lpt table td:hover {
    box-shadow: inset 0 0 20px #FEA;
}

/* DeepSee theme */

.lpt th, .lpt td, .lpt .lpt-headerValue  {
    box-shadow: none;
    text-align: left;
    border-radius: 0;
    padding: 3px 6px !important; /* DeepSee style overriding fix */
    border: 1px solid rgb(208, 208, 208);
}

.lpt th, .lpt .lpt-headerValue {
    background: #F0F0F0;
}

/* back button */

.lpt .lpt-headerValue.back:hover {
    cursor: pointer;
    background: #FFF7D7;
}
.lpt .lpt-headerValue.back:before {
    content: "< ";
    font-weight: bold;
}

/* table */
.lpt .lpt-tableBlock table {
    table-layout: fixed;
}

.lpt th, .lpt td {
    white-space: nowrap;
    box-sizing: border-box;
}

.lpt td {
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 6px !important;
    cursor: pointer;
}

.lpt .lpt-topSection, .lpt .lpt-bottomSection {
    position: relative;
    overflow: hidden;
}

.lpt .lpt-header {
    display: table;
    position: relative;
    float: left;
    z-index: 2;
    box-shadow: 0 0 0 1px rgb(208, 208, 208);
    white-space: nowrap;
}

.lpt .lpt-topHeader {
    position: relative;
    overflow: hidden;
}

.lpt .lpt-leftHeader {
    position: relative;
    overflow: hidden;
    float: left;
    /*width: 100px;*/
}

.lpt .lpt-leftHeader tr:first-child th {
    border-top: none;
}

.lpt .lpt-leftHeader.bordered {
    z-index: 1;
    box-shadow: 0 0 0 1px rgb(208, 208, 208);
}

.lpt .lpt-leftHeader th:last-child:hover {
    cursor: pointer;
    background: #FFF7D7;
}

.lpt .lpt-topHeader tr:last-child th:hover {
    cursor: pointer;
    background: #FFF7D7;
}

.lpt .lpt-tableBlock {
    position: relative;
    overflow: auto;
    /*margin-left: 100px;*/
}

.lpt .lpt-tableBlock tr:first-child td {
    border-top: none;
}

.lpt .lpt-headerValue {
    display: table-cell;
    font-weight: bold;
    border-right: none;
    /*border-bottom: none;*/
    /*height: 100%;*/
    box-sizing: border-box;
    vertical-align: bottom;
}

.lpt .lpt-leftHeader th {
    border-right: none;
}

.lpt .lpt-topHeader th {
    min-width: 100px;
    text-align: center;
    /*border-bottom: none;*/
}

/*.lpt .lpt-leftHeader table {*/
    /*margin-bottom: 10em;*/
/*}*/

/* lpt-dataWait */
.lpt .lpt-hoverMessage {
    z-index: 999;
    opacity: 0;
    font-size: xx-large;
    font-family: serif;
    background: rgba(255, 255, 255, 0.85);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.lpt-scrollable-y {
    overflow-y: auto !important;
}
.lpt-scrollable-x {
    overflow-x: auto !important;
}
.lpt-scrollable-x::-webkit-scrollbar {
    display: none;
}
.lpt-scrollable-y::-webkit-scrollbar {
    display: none;
}

/* progress bar */
.lpt-spinner {
    margin: 100px auto;
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.lpt-spinner > div {
    background-color: #555;
    height: 100%;
    width: 9px;
    margin: 0 3px 0 0;
    display: inline-block;

    -webkit-animation: lpt-stretch 0.8s infinite ease-in;
    -moz-animation: lpt-stretch 0.8s infinite ease-in;
    -o-animation: lpt-stretch 0.8s infinite ease-in;
    animation: lpt-stretch 0.8s infinite ease-in;
}

.lpt-spinner > div:nth-child(2) {
    -webkit-animation-delay: -0.7s;
    -moz-animation-delay: -0.7s;
    -o-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.lpt-spinner > div:nth-child(3) {
    -webkit-animation-delay: -0.6s;
    -moz-animation-delay: -0.6s;
    -o-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.lpt-spinner > div:nth-child(4) {
    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.lpt-spinner > div:nth-child(5) {
    -webkit-animation-delay: -0.4s;
    -moz-animation-delay: -0.4s;
    -o-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

@-webkit-keyframes lpt-stretch {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
        -moz-transform: scaleY(1.0);
        -o-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

@-moz-keyframes lpt-stretch {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
        -moz-transform: scaleY(1.0);
        -o-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

@-o-keyframes lpt-stretch {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
        -moz-transform: scaleY(1.0);
        -o-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

@keyframes lpt-stretch {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
        -moz-transform: scaleY(1.0);
        -o-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}