.lpt {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: white;
    font-size: 13px;
    overflow: hidden;
}

.lpt .formatLeft {
    text-align: left;
}

.lpt .central {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.lpt .backButton {
    width: 14px;
    height: 14px;
    top: 1px;
    padding: 2px;
    vertical-align: bottom;
    display: inline-block;
    position: relative;
}

.lpt .backButton:before, .lpt .backButton:after {
    background: #333;
    border-radius: 0.25em;
    content: "";
    display: block;
    height: 0.25em;
    position: absolute;
    left: 0;
    top: 50%;
    width: .8em;
    transition: background .4s ease;
}

.lpt .backButton:before{
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.lpt .backButton:after{
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.lpt .backButton:after {
    margin-top: -.36em;
}

.lpt .backButton:hover:before,.lpt .backButton:hover:after {
    background: #FF9B47;
}

.lpt table tr:first-child th:first-child {
    position: relative;
    white-space: nowrap;
    vertical-align: bottom;
}

.lpt .drillDownIcon {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 15px;
    height: 14px;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-right: .3em;
    transition: all .4s ease;
}

.lpt .drillDownIcon:hover {
    background: #FFEEAA;
    border-color: #FF9B47;
}

.lpt .drillDownIcon:after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #000000;
    border-radius: 4px;
    position: absolute;
    top: 2px;
    left: 2px;
    box-shadow: 0 8px 0 #000000;
}

.lpt .drillDownIcon:before {
    content: "";
    width: 8px;
    height: 2px;
    background-color: #000000;
    border-radius: 4px;
    position: absolute;
    top: 6px;
    left: 2px;
}

.lpt .drillDownIcon:hover:before {
    background-color: #FF9B47;
}

.lpt .central > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.lpt .central > div > div {
    display: inline-block;
}

.lpt table {
    position: relative;
    width: 100%;
}

.lpt .fixedHeader {
    position: absolute;
    left: 0;
    top: 0;
    background: white;
}

.lpt > .tableContainer {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease;
}

.lpt > .tableContainer > table {
    min-width: 100%;
}

.lpt > .tableContainer td, .lpt > .tableContainer th {
    border-radius: 3px;
    padding: .4em;
}

.lpt > .tableContainer tbody.fixedHeader th:last-child:hover {
    /*background: #e2c8ff;*/
    background: #FFEEAA;
    box-shadow: inset 0 0 15px #FFFFFF;
}

.lpt th {
    /*background: #C0CDFF;*/
    background: #F0F0F0;
    text-align: left;
    box-shadow: inset 0 -5px 10px rgb(216, 216, 216);
}

.lpt thead tr:last-child th {
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.lpt thead tr:last-child th:first-child ~ th:hover {
    /*background: #e2c8ff;*/
    background: #FFEEAA;
    box-shadow: inset 0 0 15px #FFFFFF;
}

.lpt td {
    /*background: #E1E8FF;*/
    background: #FFFFFF;
    box-shadow: inset 0 0 2px rgb(216, 216, 216);
    text-align: right;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.lpt th, .lpt td {
    white-space: nowrap;
}

.lpt tr:hover td {
    /*background: #ffe6cf;*/
    background: #FFF7D7;
}

.lpt table td:hover {
    /*background: #e2c8ff;*/
    background: #FFEEAA;
}

.lpt tbody > tr > th {
    cursor: pointer;
}

/* DeepSee theme */

.lpt {
    border-radius: 0;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.lpt table {
    border-collapse: collapse;
}

.lpt .tableContainer th, .lpt .tableContainer td {
    box-shadow: none;
    border-radius: 0;
    padding: 3px 6px 3px 6px;
    border: 1px solid rgb(208, 208, 208);
}